body {
  background-color: rgb(2, 2, 48);
}

figure {
  background: radial-gradient(
    rgb(112, 180, 245, 0.5) 5%,
    rgb(11, 11, 117) 40%,
    rgb(11, 11, 117, 0.75)
  );
  border-radius: 50%;
  box-shadow: 0 0 50px 30px rgb(11, 11, 117); /* x, y, blur, size, color */
}

nav {
  display: flex;
  padding: auto;
  margin-block: 80px;
}

header {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 16px;
  letter-spacing: 4px;
}

/*input {
  margin: 24px;
}*/

.title {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 120px;
  margin-left: 16px;
}

.title2 {
  color: #9340ff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 70px;
  text-shadow: 1px 1px 4px purple;
}

.button {
  background: linear-gradient(0.25turn, #5913db, #d64298, #d31b0e);
  background-image: linear-gradient(
    to top left,
    rgba(115, 68, 245, 0.4),
    rgba(253, 68, 170, 0.5) 30%,
    rgb(245, 71, 40)
  );
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 100;
  text-align: center;
  font-weight: 700;
  margin-left: 24px;
  border: none;
  box-shadow: inset 2px 2px 3px rgba(104, 38, 143, 0.6),
    inset -2px -2px 2px rgb(148, 72, 219, 0.6);
  padding: 15px 60px;
  border-radius: 40px;
}

.button:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to top left,
    rgba(115, 68, 245, 0.5),
    rgba(253, 68, 170, 0.6) 30%,
    rgb(245, 71, 40)
  );
}

.button:active {
  box-shadow: inset -2px -2px 2px rgba(104, 38, 143, 0.6),
    inset 2px 2px 3px rgb(148, 72, 219, 0.6);
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  padding: 90px;
  margin-top: 50px;
}

.text {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: aliceblue;
}

.text1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #9340ff;
  text-shadow: 1px 1px 4px purple;
}

.text2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: aliceblue;
  font-size: 20px;
}

.left {
  margin-left: 16px;
}

.box-insta {
  display: flex;
  margin-block: 32px;
}

.img-inst {
  border-radius: 10%;
}

.box-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-left: 16px;
}

.img {
  border-radius: 50%;
  padding: 20px;
}

.img:hover {
  cursor: pointer;
  background: radial-gradient(
    rgb(112, 180, 245, 0.5) 5%,
    rgb(11, 11, 117) 40%,
    rgb(11, 11, 117, 0.75)
  );
  border-radius: 50%;
  box-shadow: 0 0 30px 15px rgb(11, 11, 117);
}

.img:active {
  transform: scale(95%);
}

.box-tex {
  padding: 20px;
  margin: center;
  margin-left: 40px;
}

.box-finishin {
  display: flex;
  margin-left: 16px;
}

/*.text-footer {
  color: white;
  font-weight: bold;
  font-size: 16px;
}*/

.p {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 16px;
  letter-spacing: 4px;
}
